RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]


RewriteRule ^product/([a-zA-Z0-9\-=&_@\.\,\)\(]*)$ /warsha-shop/product_page.php?id=$1 [NC,L]


RewriteRule ^products /warsha-shop/grid [NC,L]


