
body{
    overflow-x:hidden;
}

@font-face {
    font-family: 'Univers Condensed';
    src: url('fonts/Univers-Condensed-Medium.eot');
    src: url('fonts/Univers-Condensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Univers-Condensed-Medium.woff2') format('woff2'),
        url('fonts/Univers-Condensed-Medium.woff') format('woff'),
        url('fonts/Univers-Condensed-Medium.ttf') format('truetype'),
        url('fonts/Univers-Condensed-Medium.svg#Univers-Condensed-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family:"Source Sans Pro";
    src: url("fonts/SourceSansPro-Light.ttf") format("truetype");
}
@font-face {
    font-family:"Source Sans Pro regular";
    src: url("fonts/SourceSansPro-Regular.ttf") format("truetype");
}
@font-face {
    font-family:"Source Sans Pro semibold";
    src: url("fonts/SourceSansPro-SemiBold.ttf") format("truetype");
}


.contact{
    font-family:'Source Sans Pro semibold' !important;
}

.nav_items_text{
    font-family: 'Franklin Gothic Medium' !important;
    font-size:15px !important;
    letter-spacing: 3px;
    
}



.foot_icons{
    cursor:pointer;
    opacity:0.5;
    transition:0.25s;
}
.foot_icons:hover{
    opacity:1;
    transition:0.25s;
}

.social_icons{
    cursor:pointer;
    opacity:0.5;
}
.social_icons:hover{
    opacity:1
}
.container-fluid{
    width:95%;
}

.desktop_navbar{
    display:none;
}
.desktop_items{
    display:none;
}
.cart{
    margin-right:50px;
    margin-top:-67px;
    display:none;
}
.cart_badge{
    position:absolute;
    margin-top:-4px;
    margin-left:-8px;
    border-radius:50%;
}
.mobile_navbar{
    height:80px;
    z-index:1000;
    background-color:white !important;
    
}

.img{
    background-image: url("img1.jpg") !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:900px;
}


/* Header Parallax Element Style*/ 
.paral {
    min-height:500px;
    
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;

    background-position: center;
    background-repeat: no-repeat;
}
.jumbotron{
    margin-bottom: 0;
}

.mycard{
    border:0px;
    border-color:transparent;

}

/* Image for Parallax Section */ 
.paralsec {
    background-image: url("img1.jpg");
   
}

/* Image for Parallax Section */ 
.paralsec2 {
    background-image: url("img2.jpg");
   
}
 /* Paragraph for Parallax Section */ 
 .paral p {
    font-size: 24px;
    color:#f5f5f5;
    text-align: center;
    line-height: 60px;
}

/* Heading for Parallax Section */ 
.paral h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    text-align: center;
    padding-top: 60px;
    line-height: 100px;
}
.paral h3{
    
}

.img2{
    background-image: url("img2.jpg") !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:900px;
    z-index:-1000;

    }


.divider{
    height:600px;
}

.textbox{
    padding-left:23px;
    font-family:'Source Sans Pro';
    font-size:15px;
}


.ktw{
    font-family:'Source Sans Pro semibold';
    white-space: pre-wrap;
    font-style:italic;

}
.price{
    font-family:'Source Sans Pro semibold';
    color:gray;
}

h4{
    font-family: 'Univers Condensed'; font-weight: 500; font-style: normal;
    font-size:25px;
}


h3{
    font-family: 'Univers Condensed'; font-weight: 500; font-style: normal;
    font-size:30px;
}



.button_text{
    font-size:10px;
    font-weight:400;
}



.visit{
    cursor:pointer;
    background-color:white !important;
    color:black;
    border:2px solid black !important;
    border-radius:3px;
    font-size:10px;
    font-family:'Arial' !important;
    padding-right:30px;
    padding-left:30px;
    padding-top:20px;
    padding-bottom:20px;
    
    transition:ease 0.25s;
}
.visit:hover{
    background-color:black !important;
    color:white !important;
    transition:ease 0.25s;
}
.add_to_cart{
    padding-top:7px !important;
    padding-bottom:7px !important;
    padding-right:60px !important;
    padding-left:60px !important;
    border:2px solid rgb(82, 80, 80) !important;
}

.my_submit{
    padding-top:7px !important;
    padding-bottom:7px !important;
    padding-right:40px !important;
    padding-left:40px !important;
    border:2px solid rgb(82, 80, 80) !important;
}
.my_submit:hover .sub{
    color:white !important;

}
.add_to_cart:hover{
    background-color:white !important;
}

.top_padding{
    margin-top:50px;
}

.my-form{
    
}

input, textarea{
    background-color:rgba(204, 200, 200, 0.1) !important;
    color: #FFF;
    border-radius:2px !important;
}

.form-control:focus{
    border-color: black; 
    border-width:2px;
    border-radius:5px; 
    box-shadow: none; 
    -webkit-box-shadow: none;
} 
.has-error .form-control:focus{
    box-shadow: none; 
    -webkit-box-shadow: none;
}



/* .row{
    border: 1px solid red;
}

.col{
    border: 1px solid blue;
}

.show{
    border: 1px solid blue;
} */

.foot{
    height:200px;
}

.paragraph{
    font-family:'Arial';
    font-weight:400;
    line-height:30px;
    font-size:13px;
    color:gray;
    padding-right:10%;
    padding-left:10%;
}
.parallax_head{
    margin-top:-30px !important;
}
.jumbotron{
    border-radius:0% !important;
}

.mymobilep{
    display:none;
}

.desktop_name{
    display:none;
}

/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
    .over{
        display:none;
    }
    .mymobilep{
        display:block;
    }

}


/* BIGGER THAN MOBILE */
@media only screen and (min-width:640px){

    .form_container{
        width:50%;
    }
    .top_padding{
        margin-top:80px;
    }
    .mobile_name{
        display:none;
    }
    .desktop_name{
        display:block;
    }
    .img_holder{
        padding-right:50px !important;
    }
    .foot{
        height:250px;
    }
    .paragraph{
        padding-right:36%;
        padding-left:36%;
    }
    .mobile_navbar{
        display:none;
    }
    .full_navbar{
        display:flex;
    }
    .container-fluid{
        width:98%;
    }
    .desktop_navbar{
        display:flex;
        height:150px;
        /* z-index:-100; */
        
    }
    .pad{
        padding-top:50px;
    }
    .cart{
        opacity:0.8;
        display:flex;
        cursor:pointer;
        z-index:1;
    }
    .cart:hover{
        opacity:1;
    }
    .desktop_items{
        display:block;
        transition: 200ms ease-in-out;
    }

    .desktop_items:hover{
        
        opacity:0.5;
        
        transition: 200ms ease-in-out;
    }


    .menu_item h6{
        font-size:9px !important;
    }
    .menu_item{
        text-decoration:none !important;
        color:gray;
        letter-spacing:3px;
        
    }
    .menu_item:hover{
        opacity:unset !important;
        color:black !important;
        
    }
    

    
}




















/* ------------------ (START) Navigation Bar Collapse --------------------*/


.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.mybutton{
    border:0px  !important;
    cursor:pointer;
    position:absolute;
    right:0;
}
.mybutton:focus{
    border:0px  !important;
    outline: none;
    box-shadow: none;
}
.navbar-nav > li > a {
   
    padding-top:2px;
    padding-bottom:2px;
}

a:hover{
    text-decoration:none;
}

.navbar-collapse {
    position: fixed;
    top: 70px;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: 100%;
    background-color:white !important;
}
.navbar-collapse.collapsing {
    left: -100%;
    transition: height 100ms ease-in;  
  
}
.navbar-collapse.show {
    left: 0;
    transition: left 300ms ease-in-out;
    
}
.navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 300ms ease-in-out;
}


/* ------------------ (END) Navigation Bar Collapse --------------------*/